:root {
  --main-title-color: #ffffff;
  --second-title-color: #212121;
  --first-text-color: #757575;
  --second-text-color: #ffffff;
  --third-text-color: rgba(255, 255, 255, 0.6);
  --first-button-color: #ffffff;
  --second-button-color: #212121;
  --header-text-color: #212121;
  --accent-color: #2196f3;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
  border: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--second-title-color);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}
/* HEADER */
.header {
  border-bottom: 1px solid #ececec;
}
.header-logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;

  display: block;
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 25px;
}

.logo {
  color: var(--accent-color);
}

.header-havigation {
  display: flex;
}

.header-container {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  align-items: center;
}

.nav-item:not(:last-child) {
  margin-right: 50px;
}

.nav-link {
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--header-text-color);

  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  position: relative;
}

.nav-link.current::after {
  content: "";
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);

  position: absolute;
  bottom: 0;
  left: 0;
}

.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}

.haeder-content {
  margin-left: auto;
}

.haeder-content:not(:last-child) {
  margin-right: 50px;
}

.header-item:not(:last-child) {
  margin-right: 50px;
}

.header-link {
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--first-text-color);

  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
}

.header-link-icon {
  /* transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); */

  /* display: block; */
  margin-right: 10px;
  fill: var(--first-text-color);
}

.icon-smartphone {
  width: 10px;
  height: 16px;
}

.icon-envelope {
  width: 16px;
  height: 12px;
}

/* .header-link-icon:hover,
.header-link-icon:focus {
  fill: var(--accent-color);
} */

.link-text {
  display: block;
}

.header-list {
  display: flex;
}

.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}

.header-link:hover .header-link-icon,
.header-link:focus .header-link-icon {
  fill: currentColor;
}

/* HERO */

.hero-section {
  display: flex;
  flex-direction: column;
  padding-top: 200px;
  padding-bottom: 200px;

  min-width: 100%;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../img/study-img/background.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.hero-title {
  max-width: 696px;
  margin: 0 auto;
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--main-title-color);
}

.hero-btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  background: var(--accent-color);
  color: var(--first-button-color);
  min-width: 200px;
  height: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin: 0 auto;
}

/* PECULIARITIES */

.peculiarities-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.peculiarities-list {
  display: flex;
  margin-bottom: 90px;
}

.peculiarities-icon {
  display: flex;
  justify-content: center;
  content: "";
  width: 270px;
  height: 120px;
  background-size: 70px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #f5f4fa;
  border-radius: 4px;
}
.peculiarities-item {
  max-width: 270px;
}

.peculiarities-item:not(:last-child) {
  margin-right: 30px;
}

.peculiarities-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--second-title-color);
  margin-bottom: 10px;
  margin-top: 30px;
}

.peculiarities-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--first-text-color);
}

/* WORK */

.work-section {
  padding-bottom: 94px;
}

.work-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.67;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-title-color);
  margin: 0 auto 50px;
}

.work-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}

.work-item {
  width: calc(100% / 3 - 30px);
  margin-top: 30px;
  margin-left: 30px;

  position: relative;
}

.work-item-title {
  position: absolute;
  width: 370px;
  min-height: 70px;
  bottom: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-title-color);
  background-color: rgba(47, 48, 58, 0.8);
}

/* TEAM */

.team-section {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: #f5f4fa;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.team-item {
  width: calc(100% / 4 - 30px);
  margin-left: 30px;
  margin-top: 30px;

  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-social-list {
  display: flex;
  justify-content: center;
}

.team-social-item {
  width: 44px;
  height: 44px;
}

.team-social-link {
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.team-social-link:hover,
.team-social-link:focus {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--accent-color);
}

.team-social-icon {
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  fill: #afb1b8;
}

.team-social-link:hover .team-social-icon,
.team-social-link:focus .team-social-icon {
  fill: var(--first-button-color);
}

.team-social-item:not(:first-child) {
  margin-left: 10px;
}

.team-cards {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.67;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-title-color);
  margin-bottom: 50px;
}

.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-title-color);

  margin-bottom: 10px;
}

.team-text {
  font-size: 16px;
  line-height: 1.19x;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--first-text-color);
  margin-bottom: 16px;
}

/* PORTFOLIO */

.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.filter-btn:hover,
.filter-btn:focus {
  background: var(--accent-color);
  color: var(--first-button-color);

  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filter-list {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
}

.filter-item:not(:last-child) {
  margin-right: 8px;
}
.filter-btn {
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-button-color);

  border-radius: 4px;

  padding: 6px 22px;
}

.project-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.project-item {
  /* width: 370px; */
  width: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}

.project-item:hover,
.project-item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.project-item:hover .project-cadr-text,
.project-item:focus .project-cadr-text {
  transform: translateY(0);
}

.project-item-content {
  width: 370px;
  padding: 20px 24px;

  background: #ffffff;
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  box-sizing: border-box;
}

.project-card-content {
  position: relative;
  overflow: hidden;
}

.project-cadr-text {
  position: absolute;
  top: 0;
  left: 0;
  transform: translatey(100%);
  transition: transform 250ms;
  overflow: auto;

  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--second-text-color);

  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  height: 100%;
}

.project-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--second-title-color);
  padding-bottom: 4px;
}

.project-text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--first-text-color);
}

/* CLIENT */

.client-section {
  padding: 94px 0;
}

.client-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.67;
  text-align: center;
  letter-spacing: 0.03em;

  margin-bottom: 50px;
}

.client-list {
  display: flex;
  justify-content: space-between;
}

.client-item {
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  width: 172px;
  height: 94px;

  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  fill: #afb1b8;
}

.client-icon {
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.client-item:hover,
.client-item:focus {
  border: 1px solid var(--accent-color);
}

.client-link:hover .client-icon,
.client-link:focus .client-icon {
  fill: var(--accent-color);
}

/* .client-item:not(:first-child) {
  margin-left: 30px;
} */

.client-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.client-icon {
  widows: 106px;
  height: 60px;
  fill: #afb1b8;
}

/* FOOTER */

.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-flex {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.footer-social {
  margin-left: 70px;
}

.footer-logo {
  display: inline-block;
  margin-bottom: 20px;

  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}

.address-link {
  display: inline-block;

  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}

.address-item:not(:last-child) {
  margin-bottom: 9px;
}

.transparency {
  color: rgba(255, 255, 255, 0.6);
}

.footer-social-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-title-color);
  margin-bottom: 20px;
}

.footer-social-list {
  display: flex;
  justify-content: center;
}

.footer-social-item {
  width: 44px;
  height: 44px;
}

.footer-social-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);

  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover,
.footer-social-link:focus {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--accent-color);
}

.footer-social-icon {
  fill: var(--first-button-color);
}

.footer-social-link:hover .footer-social-icon,
.footer-social-link:focus .footer-social-icon {
  fill: var(--first-button-color);
}

.footer-social-item:not(:first-child) {
  margin-left: 10px;
}

.footer-subscription {
  margin-left: 93px;
}

.sub-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-title-color);

  margin-bottom: 20px;
}

.sub-form {
  display: flex;
}

.sub-input {
  width: 358px;
  height: 50px;
  outline: none;
  background-color: transparent;
  margin-right: 12px;
  padding: 15px 16px;
  font-size: 16px;
  line-height: 1.25;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);

  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

.sub-input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.sub-btn {
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--first-button-color);

  background-color: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.sub-icon {
  fill: var(--first-button-color);
  width: 24px;
  height: 24px;
  margin-left: 10px;
}

/* MODAL */
.backdrop {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;

  transition: opacity 250ms, visibility 250ms;
}

.backdrop.is-hidden .modal {
  transform: scale(1.5);
}

.modal {
  width: 530px;
  min-height: 583px;
  background-color: rgb(255, 255, 255);
  border-radius: 4px;
  padding: 40px 41px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: scale(1) translate(-50%, -50%);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  transition: fill 250ms linear;
}

.modal-btn-close:hover,
.modal-btn-close:focus {
  fill: var(--accent-color);
}

.modal-form-field {
  margin-bottom: 20px;
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-title-color);

  margin-bottom: 12px;
}

.modal-form-warp {
  margin-bottom: 10px;
}

.modal-form-label {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--first-text-color);

  display: block;
  margin-bottom: 4px;
}

.form-input {
  width: 100%;
  height: 40px;
  padding: 12px 12px 12px 42px;
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  transition: border-color 250ms linear;
}

.modal-input-warp {
  position: relative;
}

.modal-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  fill: var(--second-button-color);

  transition: fill 250ms linear;
}

.form-input:focus {
  border: 1px solid var(--accent-color);
}

.form-input:focus + .modal-icon {
  fill: var(--accent-color);
}

.modal-text {
  width: 100%;
  height: 120px;
  outline: none;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding: 12px 16px;

  transition: border-color 250ms linear;
}

.modal-text::placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}

.modal-text:focus {
  border: 1px solid var(--accent-color);
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal-policy-field {
  margin-bottom: 30px;
}

.policy-input {
  color: var(--first-button-color);
}

.policy-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--first-text-color);
  display: flex;
  align-items: center;
  margin-left: 11px;
  margin-right: 10px;
}

.policy-text span {
  width: 16px;
  height: 15px;
  border: 2px solid var(--header-text-color);
  margin-right: 5px;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  fill: var(--first-button-color);
  transition: background-color 250ms linear;
  transition: border 250ms linear;
}

.chek-icon {
  fill: transparent;
}

.policy-input:checked + .policy-text span {
  background-color: var(--accent-color);
  border: none;
}

.policy-input:checked + .policy-text .chek-icon {
  fill: var(--first-button-color);
}

/* .policy-input:checked + .policy-text::before {
  background-image: url(../img/icon-svg/check.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border: none;
}

.policy-text::before {
  content: "";
  width: 16px;
  height: 15px;
  border: 2px solid var(--header-text-color);
  margin-right: 5px;
  display: block;
  border-radius: 2px;
} */

.policy-link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration-line: underline;
  color: var(--accent-color);
  margin-left: 5px;
}

.submit-btn {
  margin: 0 auto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--first-button-color);

  width: 200px;
  height: 50px;
  background-color: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
