.hero {
  display: flex;
  flex-direction: column;
  padding-top: 200px;
  padding-bottom: 200px;

  min-width: 100%;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../img/study-img/background.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.hero__title {
  max-width: 696px;
  margin: 0 auto;
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--main-title-color);
}

.hero__btn {
  font-family: inherit;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin: 0 auto;
}
