.team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: #f5f4fa;
}

.team__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.67;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-title-color);
  margin-bottom: 50px;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.team-list__item {
  width: calc(100% / 4 - 30px);
  margin-left: 30px;
  margin-top: 30px;

  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-list__cards {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-list__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-title-color);

  margin-bottom: 10px;
}

.team-list__text {
  font-size: 16px;
  line-height: 1.19x;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--first-text-color);
  margin-bottom: 16px;
}

.social {
  display: flex;
  justify-content: center;
}

.social__item {
  width: 44px;
  height: 44px;
  &:not(:first-child) {
    margin-left: 10px;
  }
}

.social__link {
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  &:hover,
  &:focus {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: var(--accent-color);
  }
  &:hover .social__icon,
  &:focus .social__icon {
    fill: var(--first-button-color);
  }
}

.social__icon {
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  fill: #afb1b8;
}
