.btn {
  min-width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  background-color: #188ce8;
  background: var(--accent-color);
  color: var(--first-button-color);
}
