:root {
  --main-title-color: #ffffff;
  --second-title-color: #212121;
  --first-text-color: #757575;
  --second-text-color: #ffffff;
  --third-text-color: rgba(255, 255, 255, 0.6);
  --first-button-color: #ffffff;
  --second-button-color: #212121;
  --header-text-color: #212121;
  --accent-color: #2196f3;
}
